// Override default variables before the import
$secondary: #8ed5e6;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.body-main {
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}

.navbar-main {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: $secondary;
}

.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.m-s {
  margin: 2% !important;
}

.body-form {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.login-form {
  max-width: 500px;
}

.card {
  min-width: 256px;
  max-width: 256px;
  max-height: 512px;
}

.card-deck .card {
  flex: 1 0;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.list-button {
  margin-bottom: 15px;
  min-width: 80px;
  display: block;
}

.datepicker-row {
  margin-left: 0;
  margin-right: 0;
  display: grid;
}

div.gift:hover {
  background: $secondary;
}

.plus {
  height: min-content;
  align-self: center;
  border: none;
  display: flex;
  cursor: pointer;
}

.plus-mobile {
  height: 256px;
  border: none;
  display: flex;
  cursor: pointer;
}

.card-deck .card .card-footer {
  background-color: inherit;
  border-top: none;
}

.nohover {
  pointer-events: none;
}

.flex-center {
  flex: 1;
}

.truncate {
  display: -webkit-box;
  max-width: inherit;
  margin: 0 auto;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-expanded {
  max-width: initial;
  max-height: initial;
  min-width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  animation: forwards;
  text-align: center;
}

.card-expanded .card-text {
  text-align: left;
}
